body {
    margin: 20;
    padding: 20;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #c5df54;
    background-image:url('https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16884_hires.jpg');
  }
  
  h1 {
    border: dashed
  }
  
  header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
  }

input[type=submit] {
    box-shadow: 0px 10px 14px -7px #276873;
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:20px;
    font-weight:bold;
    padding:7px 20px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
    margin: 5px;
    }
    
.row {
    justify-content: center;
    display:flex;
    flex-direction: row;
    margin:5px; 
    padding:5px;
}