<!DOCTYPE HTML>

<html>
<head> 
    <link rel="stylesheet" href="static/css/disco.css">
</head>

<body></body>

<p>Thanks for being the best team anyone could ask for!</p>

<div id="discoBallLight"></div>
<div id="discoBall">
  <div id="discoBallMiddle"></div>
</div>

<iframe style="display:none" width="560" height="315" src="https://www.youtube.com/embed/ftdZ363R9kQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<script  src="static/javascript/disco.js"></script>
</script>

</body>

</html>