<!DOCTYPE HTML>

<html>
<head> 
    <link rel="stylesheet" href="static/css/disco.css">
    <link rel="stylesheet" href="static/css/starfield.css">
</head>

<body>

    <div style="z-index:10;">
        <div class="stars"></div>
        <div class="twinkling"></div>
        <div class="clouds"></div>
    </div>

<div style="z-index:1000;">
<p class="thankyouthankyou">This is for the best SQSP Code Camp™ <br>class of all time!</p>

    

<audio autoplay preload="auto">
        <source src="/static/vyra-disco-metropolis.mp3" type="audio/mpeg" autoplay/>
        This text displays if the audio tag isn't supported.
    </audio>


<div id="discoBallLight"></div>
<div id="discoBall">
  <div id="discoBallMiddle"></div>
</div>

<script  src="static/javascript/disco.js"></script>
</script>
</div>
</body>

</html>